* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Montserrat', sans-serif;
}
header {
	height: 100vh;
	position: relative;
}
.vid-bg {
	position: absolute;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
}
.nav-area {
	height: 60px;
	position: absolute;
	width: 100%;
}
.logo {
	margin: 10px 50px;
	height: 60px;
	float: left;
	color: #fff;
	font-size: 35px;
	text-transform: capitalize;
}
.menu-area {
	float: right;
	list-style: none;
	margin: 20px;
}
.menu-area li {
	display: inline-block;
	margin: 0 5px;
}
.menu-area li a {
	text-decoration: none;
	color: #fff;
	padding: 5px 10px;
	letter-spacing: 2px;
	font-weight: 700;
}
.menu-area li a:hover {
	color: deepskyblue;
}
header .welcome-text {
	position: absolute;
	width: 100%;
	text-align: center;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.welcome-text h2 {
	color: #fff;
	font-size: 60px;
	margin: 0;
	font-family: Georgia, serif;
	
}
.welcome-text p {
	color: #fff;
	font-size: 18px;
	width: 45%;
	line-height: 1.8;
	margin: auto;
}
.btn {
	background: transparent;
	border: none;
	color: #fff;
	padding: 10px 30px;
	font-size: 15px;
	text-transform: uppercase;
	border-radius: 25px;
	display: inline-block;
	margin-top: 25px;
	border: 2px solid #fff;
	transition: background .6s ease-in;
}
.btn:hover {
	background: #fff;
	color: #000;
}
/*responsive*/


.vid-bg1 {display:none;}


@media (min-width: 767px) and (max-width: 991px) {
	
	.welcome-text p {
		width: 95%;
	}
}
@media (max-width: 767px) {
	.vid-bg1 {display:block;
		position: absolute;
		right: 0;
		bottom: 0;
		min-width: 100%;
		min-height: 100%;}
    .vid-bg {display:none;}
	.logo {
		float: none;
		
		font-size: 23px;
		height: 45px;
		line-height: 45px;
	}
	.menu-area {
		float: none;
		text-align: center;
		margin: 0;
	}
	.menu-area li {
		margin: 0;
	}
	.menu-area li a {
		padding: 5px 2px;
		font-size: 12px;
	}
	
	.nav-area {
		height: 90px;
	}
	.welcome-text h2 {
		font-size: 16px;
		margin-top: 400px;
		
	}
	.welcome-text p {
		width: 90%;
		font-size: 8px;
		line-height: 1.5;
	}
}
